/* 
-------------------------------------
DESHABILITAR SPINNER DEL INPUT NUMBER
-------------------------------------
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
/* Firefox */
input[type=number] {
     -moz-appearance: textfield;
}

/*
-----------------------
Código CSS de la página
-----------------------
*/

/*Formato de los inputs*/
html{
     background-color: #9f4f00;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23aa691c' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

body {
     scroll-behavior: smooth;
     max-width: 1024px;
     text-align: justify;
     position: absolute;
     left: 50%;
     transform: translate(-50%,0%);
}

header {
     display:inline-block;
     width: 100%;
     background-color: black;
     color: white;
}

header div.titulo > #nombre {
     font-size: 4vw;
}

header div.titulo > #ejercicio {
     font-size: 2vw;
}

section.titulo {
     width: 100%;
}

section.titulo > .logo {
     display: inline-block;
     overflow: hidden;
     width:25%;
     vertical-align: middle;
}

section.titulo > .logo > img {
     object-fit: cover;
     width: 100%;
}

section.titulo > div.titulo {
     display: inline-block;
     width: auto;
     vertical-align: middle;
}

.navbar {
     position: sticky;
     top: -3vw;
     background-color: black;
     color: white;
     margin-top: 0vw;
     padding-top: 2vw;
     font-weight: bolder;
     width: 100%;
}

.navbar::before {
     border-top: 0.1vw solid white;
     display: block;
     height: 0.1vw;
     content: " ";
     width: 100%;
     top: 1.2em;
     margin-bottom: 1vw;
     opacity: 1;
}

.navbar a:link, .navbar a:visited {
     color: white;
     text-decoration: none;
}

.navbar a:hover, .navbar > ul > li:hover {
     background-color: gray;
     color: black;
     font-weight: 900;
}

.items {
     margin: 0%;
     padding: 0%;
}

.items > a, .items > li {
     list-style: none;
     display: inline-block;
     padding: 1vw 2vw 1vw 2vw;
     margin: 0px;
     min-width: 2vw;
     text-align: center;
}

.items > a:active {
     background-color: orange;
     color: black;
}

.submenu {
     background-color: gray;
     color: black;
     display: none;
     position: absolute;
     margin-top: 1vw;
     margin-left: -2vw;
     padding:0%;
     
}

.submenu > a > li, .submenu > li {
     list-style: none;
     position: relative;
     padding: 1vw 1vw 1vw 1vw;
     text-align: center;
}

.submenu > a:hover > li, .submenu > li:hover {
     background-color: black;
     color: orange;
}

.items > li:hover > .submenu {
     display: block;
}

.intro {
     word-wrap: break-word;
}

section#doscolumnas {
     display:flex;
     flex-direction: row;
     justify-content: center;
}

article#columnauno {
     flex: 1 0;
     border-radius: 2vw;
     background-color: #ffffff55;
}

article#columnados {
     flex: 1 0;
     border-radius: 2vw;
     background-color: #ffffff55;
}

form {
     display: inline-block;
     width: 95%;
     height: auto;
     text-align: center;
     padding-top: 5%;
     padding-bottom: 5%;
     margin-left: 2.5%;
     margin-right: 2.5%;
}

label {
     line-height: 5vw;
}

input {
     text-align: center;
     margin-top: 1.25vw;
}

.texto {
     text-align: justify;
}

form > fieldset > .noampliar {
     width: auto;
}

@media screen and (max-width: 500px) {
     body {
          left: 0%;
          transform: translate(0%,0%);
     }
     
     header div.titulo > #nombre {
          font-size: 8vw;
     }
     
     header div.titulo > #ejercicio {
          font-size: 4vw;
     }

     section#doscolumnas {
          display:flex;
          flex-direction: column;
     }

     fieldset {
          display: flex;
          flex-direction: column;
     }

     input {
          flex-grow: 1;
     }
}

@media screen and (min-width: 501px) {
     section#doscolumnas {
          display:flex;
          flex-direction: row;
     }
}